TELEGRAM_BOT_TOKEN=123456:ABCDEF_your_token_here
TELEGRAM_CHAT_ID=-1001234567890
TELEGRAM_ADMIN_USER_ID=123456789
TELEGRAM_CONTROL_BOT=1
MONITOR_MIN_TAO=0.5
MONITOR_MODE=all
MONITOR_ADDRESSES=
TELEGRAM_SEND_MODE=batch
TELEGRAM_ASYNC=1
TELEGRAM_PUSH_ENABLED=1
